{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<div class="UsersInTotal">
    <h3>Total User: {{ users_num }}</h3>
    <p>Total records: {{ records_num }}</p>
    <p>Total bricks: {{ bricks_num }}</p>
</div>
<div class="UsersTable">
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Records</th>
            <th>Bricks</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.records | length }}</td>
            <td>{{ user.bricks | length }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}