{% extends "base.html" %}
{% block title %}Tireder{% endblock %}
{% block content %}
<h1>I'm so fxxking TIRED!</h1>

<!-- Print Wall -->
<div class="wall-container wall-border">
    <small>
        {% if records is not none %}
        {{ records|length }} records in this TIRED year
        {% else %}
        No record yet
        {% endif %}
    </small>
    <div class="wall-container">
        <div class="wall-bricks">
            {% for row in wall %}
            <div class="week-row">
                {% for col in row %}
                    {% if col == ' ' %}
                        <div class="grid-item brick" style="background-color:unset; border:unset"></div>
                    {% else %}
                        <div class="grid-item brick" style="background-color: {{col}}"></div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="wall-explanation">
        <small>Less</small>
        <div class="grid-item" style="background-color: #FAF04D"></div>
        <div class="grid-item" style="background-color: #FFC002"></div>
        <div class="grid-item" style="background-color: #F79218"></div>
        <div class="grid-item" style="background-color: #6b4323"></div>
        <small>More</small>
    </div>
</div>

<div class="d-flex justify-content-center my-4">
    <form class="mx-3">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#recordModal">
            Add Record
        </button>
    </form>
    <form class="mx-3">
        <button type="button" class="btn btn-warning" onclick="location.href='/chat'">
            Chatbot
        </button>
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="recordModal" tabindex="-1" role="dialog" aria-labelledby="recordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recordModalLabel">Add Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="recordForm" method="POST">
                    <div class="form-group">
                        <label for="tired_level" class="form-label">Tired Level: </label>
                        <div class="d-flex justify-content-between">
                            <p style="font-size: 50px">&#128528;</p>
                            <p style="font-size: 50px">&#128532;</p>
                            <p style="font-size: 50px">&#128557;</p>
                        </div>
                        <input type="range" class="form-range" min="1" max="3" id="tired_level" name="tired_level">
                        <br />
                        <br />
                        <label for="add_notes">Notes(optional):</label>
                        <input type="text" class="form-control" id="add_notes" name="add_notes" placeholder="What happened?">
                    </div>
                    <div align="center">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--TODO: Update records formatting-->
<div class="pt-5 record-container">
    {% if records != [] %}
        {% if records[-1].get('date') == today %}
            <div class="record-today">
                <h3 class="record-title diving-line">
                    <span class="record-title">Today</span>
                </h3>
                <div class="mx-3 record-content">
                    {% for record in records[::-1] %}
                        {% if record.get('date') == today %}
                            <div class="record-item">
                                <h5 class="record-tired-level">Tiredness: {{ record.get('tired_level') }}</h5>
                                <small class="record-time">{{ record.get('time') }}</small>
                            </div>
                            {% if record.get('add_notes') %}
                                <div class="record-tired-notes">
                                    {{ record.get('add_notes') }}
                                </div>
                            {% endif %}
                            <br />
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if records[0].get('date') != today %}
            <div class="record-past">
                <h3 class="record-title diving-line">
                    <span class="record-title">More</span>
                </h3>
                <div class="mx-3 record-content">
                    {% for record in records[::-1] %}
                        {% if record.get('date') != today %}
                            <div class="record-item">
                                <h5 class="record-tired-level">Tiredness: {{ record.get('tired_level') }}</h5>
                                <small class="record-time">{{ record.get('date') }}</small>
                            </div>
                            {% if record.get('add_notes') %}
                                <div class="record-tired-notes">
                                    {{ record.get('add_notes') }}
                                </div>
                            {% endif %}
                            <br />
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock %}