{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
<div class="login-form">
    <form method="POST">
        <h2 align="center">SIGN UP</h2>
        <br />
        <div class="form-group">
            <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter username"
            />
        </div>
        <div class="form-group">
            <input
                    type="password"
                    class="form-control"
                    id="password1"
                    name="password1"
                    placeholder="Enter password"
            />
        </div>
        <div class="form-group">
            <input
                    type="password"
                    class="form-control"
                    id="password2"
                    name="password2"
                    placeholder="confirm password"
            />
        </div>
        <button type="submit" class="btn btn-warning btn-block">SIGN UP</button>
        <br />
        <small>Already Registered? <a href="/login">Login</a></small>
    </form>
</div>
{% endblock %}